h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color:antiquewhite;
    background-color: rgb(189, 182, 182);

}

h2{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color:antiquewhite;
    background-color: rgb(189, 182, 182);
}

p 
{
font-family: 'Times New Roman', Times, serif;
background-color: rgb(189, 182, 182);
}

p3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;    
}

.flex-container
{
display: flex;
justify-content: space-around;
border-style: solid;
border-width: 3px;
border-color: rgb(216, 224, 231);
margin-bottom: 3px;
margin-right: 3px;
}

body{
    background-color: grey;
}

.navbar{
    background-color: grey;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

